@import url('https://fonts.googleapis.com/css2?family=Poppins')
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-item: center;
    justify-content: center;
    min-height: 100vh;
    background: #fafafa;
    }

.wrapper{
    padding: 30px;
    background: #ffff;
    max-width: 500px;
    width: 100%;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.wrapper header{
    font-size: 22px;
    font-weight: 600;
}

.wrapper .poll-area{
    margin: 20px 0 15px 0;
}
