@import url('https://fonts.googleapis.com/css2?family=Poppins')
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-item: center;
    justify-content: center;
    min-height: 100vh;
    background: #fafafa;
    }

.wrapper{
    padding: 30px;
    background: #ffff;
    max-width: 500px;
    width: 100%;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.wrapper header{
    font-size: 22px;
    font-weight: 600;
}

.wrapper .poll-area{
    margin: 20px 0 15px 0;
}

.poll-area label{
    display: block;
    margin-bottom: 10px;
    padding: 8px 15px;
    border: 2px solid #e6e6e6;
}

label .row{
    display: flex;
    pointer-events: none;
    justify-content: space-between;
}

label .row .column{
    display: flex;
    align-items: center;
}

label .row .circle{
    height: 19px;
    width: 19px;
    display: block;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

label .row .circle::after{
    content: "";
    height: 11px;
    width: 11px;
    border-radius: inherit;
    position: absolute;
    left: 2px;
    top: 2px;
    display: none;
}

.poll-area label:hover .row .circle::after{
    display: block;
    background: #e6e6e6;
}

label.selected .row .circle::after{
    display: block;
}

label .row span{
    font-size: 16px;
    font-weight: 500;
}

label .row .percent{
    display: none;
}

label .progress{
    height: 7px;
    width: 100%;
    position: relative;
    background: #f0f0f0;
    margin: 8px 0 3px 0;
    display: none;
    pointer-events: none;
    
